---
import { Icon } from "astro-icon";
import { GIT_REPO } from "../settings";
import { getCollection } from "astro:content";

const currentPage = Astro.url.pathname;

const parts: string[] = currentPage.split("/");
const result: string = parts.slice(0, 4).join("/");

const docs = await getCollection("docs", ({ id }) => {
  return !id.endsWith("index.md") && id.startsWith(result.slice(1));
});

let currentDoc = null;
let currentFile = "";
if (currentPage !== "/") {
  currentDoc = docs.find(function (doc) {
    return `/${doc.slug}/` === currentPage || `/${doc.slug}` === currentPage;
  });

  if (currentDoc && currentDoc.id) {
    currentFile = `${currentDoc.id.replace(/\/$/, "")}`;
  }
}

const contribute = [
  {
    title: "Contributor Guide",
    icon: "mdi:book-open",
    link: GIT_REPO.contributingURL,
  },
  {
    title: "Edit this page",
    icon: "mdi:lead-pencil",
    link: `${GIT_REPO.editURL}/${currentFile}`,
  },
  {
    title: "Report an issue",
    icon: "mdi:alert-circle-outline",
    link: GIT_REPO.issueURL,
  },
];
---

<div>
  <h2 class="mb-2 select-none font-bold leading-6">Contribute</h2>
  <ul>
    {
      contribute.map((item: any) => (
        <li class="flex items-center gap-2">
          <a
            href={item.link}
            target="_blank"
            rel="nofollow noopener noreferrer"
            class="text-theme-text-lighter bidi-override inline-flex w-full gap-2 space-x-reverse border-l-2 pb-1 pl-4 pt-1 text-base leading-5 text-slate-600 no-underline transition duration-200 ease-out hover:text-slate-900 hover:underline dark:border-slate-700 dark:text-slate-400 dark:hover:text-slate-100"
          >
            <div class="flex items-center gap-2">
              <Icon class="h-4 w-4 cursor-pointer" name={item.icon} />
              {item.title}
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</div>
