---
type Props = {
  currentPage: string;
  folder: any;
  files: any[];
};

const { currentPage, folder, files } = Astro.props;
---

<li class="mb-6 flex flex-col">
  <h3 class="font-bold mb-2 text-base select-none leading-6">
    {folder.label}
  </h3>
  <ul id={`list-${folder.id}`}>
    {
      files
        .filter(
          (doc: any) =>
            doc.id.startsWith(folder.id) && !doc.id.endsWith("index.md")
        )
        .sort((a, b) => a.data.order - b.data.order)
        .map((file: any) => (
          <li>
            <a
              href={`/${file.slug}`}
              class={`text-base p-1 pl-3 no-underline block hover:underline hover:text-slate-900 dark:hover:text-slate-100 ${
                currentPage === `/${file.slug}` ||
                currentPage === `/${file.slug}/`
                  ? "text-slate-900 bg-slate-200 dark:text-slate-100 dark:bg-slate-700 font-semibold rounded-md" // border-l-4
                  : "text-slate-600 dark:text-slate-400"
              } `}
            >
              {file.data.label}
            </a>
          </li>
        ))
    }
  </ul>
</li>
