---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import Header from "../components/Header.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";
import Footer from "../components/Footer.astro";
import Pagination from "../components/Pagination.astro";
import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<"docs">["data"] & {
  headings: MarkdownHeading[];
  next?: any;
  prev?: any;
};

const { headings, next, prev, ...data } = Astro.props;
const currentPage = Astro.url.pathname;
---

<MainLayout label={data.label}>
  <div class="flex flex-col">
    <div
      class="sticky top-0 w-full backdrop-blur flex-none transition-colors duration-500 z-40 border-b border-slate-200 dark:border-slate-700 bg-slate-50/95 dark:bg-slate-900/80"
    >
      <Header currentPage={currentPage} />
    </div>

    <div class="2xl:flex overflow-hidden">
      <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8">
        <aside
          class="hidden lg:block fixed z-20 inset-0 top-[3.8125rem] left-[max(0px,calc(50%-45rem))] right-auto w-[16.5rem] pb-10 overflow-y-auto"
        >
          <LeftSidebar currentPage={currentPage} />
        </aside>
        <div class="lg:pl-[16rem]">
          <div class="mx-auto max-w-none xl:ml-0 xl:mr-[15.5rem] xl:pr-16">
            <div
              class="flex flex-col items-center lg:border-l lg:border-slate-200 lg:dark:border-slate-700 lg:pl-[3.5rem]"
            >
              <article
                class="pt-10 max-w-3xl lg:min-w-[40rem] min-h-[20rem] prose prose-slate prose-h2:pt-20 prose-h2:mt-[-5rem] xl:mb-0 dark:prose-dark dark:prose-invert lg:mb-48 mb-16"
              >
                <slot />
              </article>
              <Pagination next={next} prev={prev} />
              <Footer />
            </div>
            <aside
              class="fixed z-20 top-[3.8125rem] bottom-0 right-[max(0px,calc(50%-45rem))] w-[19.5rem] py-10 overflow-y-auto hidden xl:block"
            >
              <RightSidebar headings={headings} />
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
